@font-face {
    font-family: ptsans;
    src: url(../fonts/PTS55F.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: ptsansbold;
    src: url(../fonts/PTS75F.ttf);
    font-weight: normal;
    font-style: normal;
}

body, html{
    font-family: 'ptsans', sans-serif;
    background-color: cornflowerblue;
}

.wrapper{ width: 100%; }

.topnav {
    overflow: hidden;
    background-color: #5077bd;
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
}

.topnav a {
    font-family: 'ptsansbold', sans-serif;
    float: left;
    display: block;
    color: white;
    text-align: center;
    height: inherit;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    transition: .3s;
    color: black;
}

.topnav .icon { display: none; }

.nav_a{ padding: 15px; }

.nav_a:not(:first-child){ float: right; }

.nav_img{ padding: 7.5px; }

#burgermenu { padding: 7.5px 16px; }

#burgermenu i {
    position: relative;
    top: 4px;
}

.winkel {
    position: relative;
    top: -10px;
}

.containerdiv { width: 100%; }

.updatesectie p {
    font-family: 'ptsansbold', sans-serif;
    color: cornflowerblue;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    padding: 10px;
    width: 70%;
    margin: 1em auto;
}

.titelsectie h1 {
    font-family: 'ptsansbold', sans-serif;
    font-size: 3em;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 0 #000;
    margin: 0 50px 0 50px;
}

.stapsectie {
    text-align: center;
    margin-top: 20px;
}
.stapsectie div {
    background-color: white;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 300px;
    margin: 0 10px 0 10px;
    box-shadow: 0 3px 3px black;
    text-align: center;
}

.stapsectie div h2 { margin-bottom: 0; }

.stapsectie div hr {
    width: 80%;
    border: 0;
    height: 3px;
    color: black;
    background-color: black;
}

.stapsectie div img{
    max-height: 50%;
    max-width: 100%;
}

.memesectie {
    font-family: 'ptsans', sans-serif;
    background-color: white;
    border-radius: 5px;
    margin: 50px auto;
    width: 95%;
    text-align: center;
    box-shadow: 0 3px 3px black;
}

.memesectie h1 {
    padding-top: 20px;
}

.memesectie button {
    font-family: 'ptsansbold', sans-serif;
    display: block;
    margin: 20px auto;
    width: 45%;
    background-color: cornflowerblue;
    color: white;
    padding:13px;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
}

.memesectie button:hover {
    background-color: white;
    color: cornflowerblue;
    cursor: pointer;
    transition: .2s;
    box-sizing: border-box;

}

.memewrapper { width: 100%; }

.memeblok {
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin: 0 5px 10px 5px;
    box-sizing: border-box;
    vertical-align: top;
}

.memeimg {
    margin: 5px;
    height: 1000%;
    max-height: 250px;
}

.memeblok:hover { cursor: pointer; }

.memeblok:hover .memeimg {
    cursor: pointer;
    border-radius: 200%;
    transition: .5s;
}

.footersectie {
    font-family: 'ptsansbold', sans-serif;
    width: 90%;
    margin: 0 auto;
}
.footersectie hr {
    border: 0;
    height: 1px;
    background-color: black;
}

.footwrapper {
    margin: 0 auto;
    text-align: center;
}
.footerblok {
    display: inline-block;
    margin: 0 10px 0 10px;
    vertical-align: top;
    text-align: left;
}

.footerblok ul {
    display: inline-block;
    list-style: none;
}

.algemeen li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footerblok h3 {
    font-family: 'ptsans', sans-serif;
    margin: 10px 0 0 39px;
    padding: 0;
}

.keurmerk img {
    height: 40px;
    margin: 20px;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    
    .topnav a:nth-child(3){
        display: block;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .stapsectie div {
        display: inline-block;
        width: 95%;
        margin: 0 auto 10px;
    }

    .titelsectie { font-size: 50%; }

    .memesectie button {
        width: 90%;
    }

    .footerblok {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .footerblok h3 { margin: 0; }

    .footerblok ul { padding: 0px; }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: fixed;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

}