/* --------> Basis codes <--------*/

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
}

#no-x-scroll {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.background-image{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
}

.background-image img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    z-index: 0;
}

* {
    margin: 0;
    padding: 0;
}

.no_padding {
    padding: 0;
}

.row_home {
    margin-top: 20vh;
}

.row_winkelen {
    margin-top: 2vh;
}

.col_footer {
    padding: 0;
}

/* --------> Tekst <--------*/

h1, h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.h2_home {
    font-size: 8vh;
    color: #73B7E5;
}

.h2_winkelen {
    font-size: 6vh;
    color: #73B7E5;
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    text-align: center;
    margin-top: 8vh;
}

.h_button_home {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 3vh;
    color: #73B7E5;
    padding: 0;
}

.h_button_home2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 3vh;
    color: #73B7E5;
    padding: 0;
}

.h2_footer {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 3vh;
    color: #73B7E5;
    padding: 0;
}

.p_footer {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    color: lightgray;
    padding: 0;
}

.p_gratis {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    color: white;
    padding: 0;
    text-align: center;
}

.p_prijs {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 3vh;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

.h_button_terug {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 2vh;
    padding: 0;
}

.h_button_verder {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 2vh;
    padding: 0;
}

.h_button_terug_bestel {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 2vh;
    padding: 0;
}

.h_button_verder_bestel {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 2vh;
    padding: 0;
}

.h_button_status {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5vh;
    padding: 0;
}

.h_bestelling {
    font-size: 5vh;
    color: black;
}

.h_bestelling_specs {
    font-size: 2vh;
    color: black;
    margin-bottom: -1.5vh;
}

.h_bestelling_specs2 {
    font-size: 2vh;
    color: black;
    font-weight: 400;
}

.h_verzendkosten {
    font-size: 2.8vh;
    color: black;
    font-weight: 400;
    margin-top: 0;
}

.h_totaal_prijs {
    font-size: 2.8vh;
    color: black;
    font-weight: 800;
}

/* --------> Navigatie <--------*/

.gratis_balk {
    width: 100%;
    height: 3vh;
    background-color: #F49517;
    position: fixed;
    z-index: 999;
}

.p_nav {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.p_nav_winkelwagen {
    position: absolute;
    right: 60px;
    top: 12px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-brand {
    padding: 0px;
    padding-top: 7px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #F49517;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus {
    color: white;
    background-color: transparent;
}

ul.nav {
    float: right;
}

.navbar .navbar-nav {
    display: inline-block;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navigation_bar {
    background-color: black;
    border: 0;
    padding-left: 25px;
    padding-right: 10px;
    margin-top: 3vh;
}

.navbar-toggle {
    border: none;
}

.navbar {
    min-height: 51px;
}

.navbar_no_border {
    border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    border-bottom: 2px solid white;
    color: white;
}

.navbar .navbar-collapse {
    text-align: center;
}


/* --------> Sections <--------*/

.wrapper_home {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100vh;
    min-height: 400px;
    padding-top: 100px;
    padding-left: 50px;
}

#wrapper_winkelen {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 2vh;
}

.wrapper_ontwerpen {
    background-color: white;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    text-align: center;
}

.wrapper_winkelwagen {
    background-color: white;
    width: 100%;
    padding-top: 11vh;
    padding-bottom: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.wrapper_inloggen {
    background-color: white;
    width: 100%;
    height: 100vh;
    padding-top: 11vh;
    padding-bottom: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

/* --------> Buttons <--------*/

.btn_ontwerpen {
    background-color: transparent;
    border: 2px solid #F49517;
    color: #ff9800;
    margin: 20px;
    width: 35vh;
    height: 7vh;
    margin-left: 0;
}

.btn_ontwerpen:hover, .btn_ontwerpen:focus, .btn_ontwerpen:active {
    background-color: #F49517 !important;
    border: 2px solid #F49517;
    color: black;
    margin: 20px;
    width: 35vh;
    margin-left: 0;
    outline-color: #F49517 !important;
}

.btn_ontwerpen2 {
    background-color: transparent;
    border: 2px solid #F49517;
    color: #ff9800;
    margin: 20px;
    width: 50%;
    height: 7vh;
    margin-left: 0;
}

.btn_ontwerpen2:hover, .btn_ontwerpen2:focus, .btn_ontwerpen2:active {
    background-color: #F49517 !important;
    border: 2px solid #F49517;
    color: black;
    margin: 20px;
    width: 50%;
    margin-left: 0;
    outline-color: #F49517 !important;
}

.btn_bestelling_verder {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: #73B7E5;
    width: 35%;
    margin-top: 3vh;
    height: 6vh;
    float: right;
}

.btn_bestelling_verder:hover, .btn_bestelling_verder:focus, .btn_bestelling_verder:active {
    background-color: #73B7E5 !important;
    border: 2px solid #73B7E5;
    color: black;
    width: 35%;
    margin-left: 0;
    outline-color: #73B7E5 !important;
}

.btn_bestelling_terug {
    background-color: transparent;
    border: 2px solid #404040;
    color: black;
    width: 35%;
    height: 6vh;
    margin-top: 3vh;
}

.btn_bestelling_terug:hover, .btn_bestelling_terug:focus, .btn_bestelling_terug:active {
    background-color: #404040 !important;
    border: 2px solid #404040;
    color: white;
    width: 35%;
    margin-left: 0;
    outline-color: #404040 !important;
}

.btn_ontwerpproces_verder {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: #73B7E5;
    width: 35%;
    margin-top: 3vh;
    height: 6vh;
    float: right;
}

.btn_ontwerpproces_verder:hover, .btn_ontwerpproces_verder:focus, .btn_ontwerpproces_verder:active {
    background-color: #73B7E5 !important;
    border: 2px solid #73B7E5;
    color: black;
    width: 35%;
    margin-left: 0;
    outline-color: #73B7E5 !important;
}

.btn_ontwerpproces_terug {
    background-color: transparent;
    border: 2px solid #404040;
    color: #404040;
    width: 35%;
    height: 6vh;
    margin-top: 3vh;
    float: left;
}

.btn_ontwerpproces_terug:hover, .btn_ontwerpproces_terug:focus, .btn_ontwerpproces_terug:active {
    background-color: #404040 !important;
    border: 2px solid #404040;
    color: white;
    width: 35%;
    margin-left: 0;
    outline-color: #404040 !important;
}

.btn_ontwerpproces_status {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: #73B7E5;
    margin-bottom: 3vh;
    width: 100%;
    height: 4vh;
    margin-left: auto;
    margin-right: auto;
}

.btn_ontwerpproces_status:hover, .btn_ontwerpproces_status:focus, .btn_ontwerpproces_status:active {
    background-color: #73B7E5 !important;
    border: 2px solid #73B7E5;
    color: black;
    margin-bottom: 3vh;
    width: 100%;
    outline-color: #73B7E5 !important;
    margin-left: auto;
    margin-right: auto;
}

/* --------> producten/winkelen <--------*/

.wrapper_product {
    width: 100%;
    background-color: white;
    padding: 1vh;
    position: relative;
    overflow: hidden;
}

.img_product {
    width: 100%;
    transition:all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    top: 0;
    left: 0;
    position: relative;
}

.img_product:hover {
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
    transform: scale(1.9);
    top: 100px;
}

.wrapper_banner {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 5vh;
}

.row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* --------> Ontwerpen <--------*/

.ontwerpen_links {
    width: 100%;
    background-color: white;
    padding: 3vh;
    margin-top: 20px;
}

.ontwerpen_rechts {
    width: 100%;
    background-color: white;
    padding: 3vh;
    margin-top: 20px;
}

.wrapper_functies_ontwerp {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 3vh;
}

.shirt_preview {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 3vh;
}

#step-2 {
    padding-bottom: 180px;
    padding-top: 180px;
}

#step-3 {
    padding-bottom: 25px;
    padding-top: 75px;
}

#step-4 {
    padding-bottom: 65px;
    padding-top: 65px;
}

.kleurlabel {
    width: 190px;
    height: 190px;
}

.KleurKiezer_label {
    width: 190px;
    border-radius: 6px;
    border: 1px solid black;
}

.colorSelect input[type="radio"]:checked+label {
    box-shadow: 1px 1px 15px 2px rgba(0,0,0,0.75);
}

.canvas-container{
    transform: scale(0.13);
    left: -1550px;
    top: -1100px;
    /*border: 20px solid black;*/
}

#editor {
    /*border: solid black;*/
}

#selectedColor {
    font-family: 'PT Sans', sans-serif;
    font-weight: 800;
    font-size: 3vh;
    color: black;
}

input[type=file] {
    display: inline-block;
    border: 2px solid black;
    border-radius: 6px;
}

.h_input {
    font-size: 3vh;
}

#fileUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileUpload + label {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: #73B7E5;
    width: 35%;
    margin-top: 3vh;
    height: 6vh;
    border-radius: 6px;
    padding-top: 1vh;
}

#fileUpload:focus + label,
#fileUpload + label:hover {
    background-color: #73B7E5;
    border: 2px solid #73B7E5;
    color: black;
}

#fileUpload + label {
    cursor: pointer; /* "hand" cursor */
}

.maat {
    border: 2px solid black;
    display: inline-block;
    width: 10%;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 1vh;
    margin-right: 6vh;
    color: black;
    background-color: transparent;
    height: 6vh;
    border-radius: 6px;
}

.maatAantal {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: black;
    margin-top: 1vh;
    width: 10%;
    height: 6vh;
    border-radius: 6px;
    text-align: center;
}

.btn-add {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: #73B7E5;
    width: 35%;
    margin-top: 3vh;
    height: 6vh;
}

.btn-add:hover, .btn-add:focus, .btn-add:active {
    background-color: #73B7E5 !important;
    border: 2px solid #73B7E5;
    color: black;
    width: 35%;
    margin-left: 0;
    outline-color: #73B7E5 !important;
}

.btn-remove {
    background-color: transparent;
    border: 2px solid #404040;
    color: #404040;
    width: 35%;
    margin-top: 3vh;
    height: 6vh;
    margin-bottom: 3vh;
}

.btn-remove:hover, .btn-remove:focus, .btn-remove:active {
    background-color: #404040 !important;
    border: 2px solid #404040;
    color: white;
    width: 35%;
    margin-left: 0;
    outline-color: #404040 !important;
    margin-bottom: 3vh;
}

#addtext {
    margin-bottom: 3vh;
    border-radius: 6px;
    width: 95%;
}

.h_bestelling2 {
    font-size: 5vh;
    color: black;
    margin-right: 3000px;
    margin-left: 2vh;
}

/* --------> Footer <--------*/

.footer {
    width: 100%;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    background-color: black;
}

.footer_section {
    width: 100%;
    height: 20vh;
    float: left;
    text-align: center;
    background-color: black;
    border-left: 1px solid #F49517;
}

.img_footer1 {
    width: 7%;
}

.img_footer2 {
    width: 22%;
}

/* --------> Inloggen <--------*/

.gif {
    margin-left: -150px;
}

.btn_inlog_login {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: #73B7E5;
    width: 35%;
    margin-top: 0;
    height: 6vh;
    float: left;
    margin-bottom: 1.5vh;
}

.btn_inlog_login:hover, .btn_inlog_login:focus, .btn_inlog_login:active {
    background-color: #73B7E5 !important;
    border: 2px solid #73B7E5;
    color: black;
    width: 35%;
    margin-left: 0;
    outline-color: #73B7E5 !important;
}

.btn_inlog_registreer {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: #73B7E5;
    width: 35%;
    margin-top: 3vh;
    height: 6vh;
    float: right;
}

.btn_inlog_registreer:hover, .btn_inlog_registreer:focus, .btn_inlog_registreer:active {
    background-color: #73B7E5 !important;
    border: 2px solid #73B7E5;
    color: black;
    width: 35%;
    margin-left: 0;
    outline-color: #73B7E5 !important;
}

.btn_inlog_terug {
    background-color: transparent;
    border: 2px solid #404040;
    color: black;
    width: 35%;
    height: 6vh;
    margin-top: 3vh;
}

.btn_inlog_terug:hover, .btn_inlog_terug:focus, .btn_inlog_terug:active {
    background-color: #404040 !important;
    border: 2px solid #404040;
    color: white;
    width: 35%;
    margin-left: 0;
    outline-color: #404040 !important;
}


.blue_line1 {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 2px;
    background-color: #73B7E5;
}

.blue_line2 {
    margin-right: 2vh;
    margin-left: 2vh;
    height: 2px;
    margin-bottom: -20px;
    background-color: #73B7E5;
}

.form-group {
    padding-top: 2vh;
}

.form-control {
    height: 6vh;
    margin-bottom: 1vh;
}

.p_form {
    font-size: 2vh;
    color: #404040;
    font-weight: 800;
}

.p_vergeten {
    font-size: 2vh;
    color: #404040;
}

/* --------> Bestelling <--------*/

.blue_line {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 2px;
    background-color: #73B7E5;
}

.img_shirt {
    width: 30vh;
}

.row_winkelwagen {
    margin-top: 2.5vh;
}

.aantal {
    margin-top: 20px;
}

.verwijderen {
    color: #73B7E5;
    font-size: 2vh;
}

.padding_bestelling {
    padding-top: 11vh;
}

/* Registreren */

.wrapper_registreren {
    background-color: white;
    width: 100%;
    padding-top: 11vh;
    padding-bottom: 4vh;
    padding-left: 5vh;
    padding-right: 5vh;
}


.btn_reg_registreer {
    background-color: transparent;
    border: 2px solid #73B7E5;
    color: #73B7E5;
    width: 35%;
    margin-top: 1vh;
    height: 6vh;
    float: right;
}

.btn_reg_registreer:hover, .btn_reg_registreer:focus, .btn_reg_registreer:active {
    background-color: #73B7E5 !important;
    border: 2px solid #73B7E5;
    color: black;
    width: 35%;
    margin-left: 0;
    outline-color: #73B7E5 !important;
}

.btn_reg_terug {
    background-color: transparent;
    border: 2px solid #404040;
    color: black;
    width: 35%;
    height: 6vh;
    margin-top: 3vh;
}

.btn_reg_terug:hover, .btn_reg_terug:focus, .btn_reg_terug:active {
    background-color: #404040 !important;
    border: 2px solid #404040;
    color: white;
    width: 35%;
    outline-color: #404040 !important;
}

/* --------> Bevestiging/Mislukt <--------*/

.h_bevestiging {
    font-size: 3.5vh;
    color: green;
}

.h_mislukt {
    font-size: 3.5vh;
    color: red;
}

.p_bevestiging {
    font-size: 2vh;
    color: black;
}

/* --------> Glyphicons <--------*/

.glyphicon-arrow-right {
    font-size: 8vh;
    margin-top: 2vh;
}

/* --------> bounce <--------*/

.glyphicon-chevron-down {
    color: white;
    font-size: 5vh;
}

.bounce {
    position:fixed;
    left:50%;
    bottom:0;
    margin-top:-25px;
    margin-left:-20px;
    -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
    0%       { bottom:5px; }
    25%, 75% { bottom:15px; }
    50%      { bottom:20px; }
    100%     {bottom:0; }
}

/* --------> @media <--------*/

@media (min-width: 769px) {

    .img_footer1 {
        width: 12%;
    }

    .img_footer2 {
        width: 27%;
    }
}

@media (max-width: 650px) {

    .h2_home {
        margin-top: 0;
        font-size: 6vh;
    }

    .h2_home2 {
        margin-top: 0;
        font-size: 4vh;
    }

    .wrapper_home {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100vh;
        min-height: 400px;
        padding-top: 100px;
        padding-right: 0;
        padding-left: 0;
    }

    .h_button_home {
        font-family: 'PT Sans', sans-serif;
        font-weight: 800;
        font-size: 3vh;
        padding: 0;
    }

    .row_home {
        margin-top: 30vh;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_ontwerpen {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_ontwerpen:hover, .btn_ontwerpen:focus, .btn_ontwerpen:active {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .btn_ontwerpen2 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_ontwerpen2:hover, btn_ontwerpen2:focus, btn_ontwerpen2:active {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    ul.nav {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    ul.nav {
        text-align: center;
    }

    .ontwerpen_rechts {
        margin-top: 0;
        padding-bottom: 120px;
    }

    .ontwerpen_links {
        margin-top: 0px;
    }

    .img_shirt {
        width: 100%;
    }

    .padding_bestelling {
        padding-top: 0;
    }

    .btn_bestelling_terug {
        width: 100%;
    }

    .btn_bestelling_terug:hover, .btn_bestelling_terug:focus, .btn_bestelling_terug:active {
        width: 100%;
    }

    .btn_bestelling_verder {
        width: 100%;
    }

    .btn_bestelling_verder:hover, .btn_bestelling_verder:focus, .btn_bestelling_verder:active {
        width: 100%;
    }

    .text_align_right_bestelling {
        text-align: right;
        margin-top: -30px;
    }

    .text_align_right_totaal {
        text-align: right;
    }

    .btn_inlog_login {
        width: 100%;
    }

    .btn_inlog_login:hover, .btn_inlog_login:focus, .btn_inlog_login:active {
        width: 100%;
    }

    .btn_inlog_registreer {
        width: 100%;
    }

    .btn_inlog_registreer:hover, .btn_inlog_registreer:focus, .btn_inlog_registreer:active {
        width: 100%;
    }

    .btn_inlog_terug {
        width: 100%;
    }

    .btn_inlog_terug:hover, .btn_inlog_terug:focus, .btn_inlog_terug:active {
        width: 100%;
    }

    .btn_reg_registreer {
        width: 100%;
    }

    .btn_reg_registreer:hover, .btn_reg_registreer:focus, .btn_reg_registreer:active {
        width: 100%;
    }

    .btn_reg_terug {
        width: 100%;
    }

    .btn_reg_terug:hover, .btn_reg_terug:focus, .btn_reg_terug:active {
        width: 100%;
    }

    .ontwerpen_links {
        margin-top: 20px;
    }
}

@media (min-height: 1366px) {
    .text_align_right_totaal {
        text-align: right;
    }
}

@media (min-height: 1024px) {
    .h2_footer {
        font-size: 2vh;
    }

    .p_footer {
        font-size: 1.5vh;
    }

    .h_button_terug {
        font-size: 1vh;
    }

    .h_button_verder {
        font-size: 1vh;
    }

    .h_button_status {
        font-size: 1vh;
        margin: 1vh;
    }

    .btn_ontwerpproces_verder {
        color: #73B7E5;
        width: 35%;
        margin-top: 3vh;
        height: 3vh;
        float: right;
    }

    .btn_ontwerpproces_verder:hover, .btn_ontwerpproces_verder:focus, .btn_ontwerpproces_verder:active {
        color: black;
        width: 35%;
        margin-left: 0;
        outline-color: #73B7E5 !important;
    }

    .btn_ontwerpproces_terug {
        color: black;
        width: 35%;
        height: 3vh;
        margin-top: 3vh;
        float: left;
    }

    .btn_ontwerpproces_terug:hover, .btn_ontwerpproces_terug:focus, .btn_ontwerpproces_terug:active {
        color: white;
        width: 35%;
        margin-left: 0;
        outline-color: black !important;
    }

    .btn_ontwerpproces_status {
        color: #73B7E5;
        margin-bottom: 3vh;
        width: 100%;
        height: 2vh;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_ontwerpproces_status:hover, .btn_ontwerpproces_status:focus, .btn_ontwerpproces_status:active {
        color: black;
        margin-bottom: 3vh;
        width: 100%;
        outline-color: #73B7E5 !important;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper_functies_ontwerp {
        padding: 0;
    }

    .shirt_preview {
        padding: 0;
    }

    .img_footer1 {
        width: 20%;
    }

    .img_footer2 {
        width: 35%;
    }

    .img_shirt {
        width: 50%;
    }

    .h_bestelling_specs {
        font-size: 1.5vh;
        color: black;
        margin-bottom: -1.5vh;
    }

    .h_bestelling_specs2 {
        font-size: 1.5vh;
        color: black;
        font-weight: 400;
    }

    .h_verzendkosten {
        font-size: 2vh;
        color: black;
        font-weight: 400;
        margin-top: 0;
    }

    .h_totaal_prijs {
        font-size: 2vh;
        color: black;
        font-weight: 800;
    }

    .verwijderen {
        color: #73B7E5;
        font-size: 1.5vh;
    }

    .text_align_right_bestelling {
        text-align: right;
        margin-top: 0;
    }

    .padding_bestelling {
        padding-top: 30px;
    }

}

@media (max-width: 400px) {
    .h_button_terug {
        font-size: 1vh;
    }

    .h_button_verder {
        font-size: 1vh;
    }

    .h_button_status {
        font-size: 1.3vh;
        margin: 1vh;
    }

    .btn_ontwerpproces_verder {
        color: #73B7E5;
        width: 35%;
        margin-top: 3vh;
        height: 4vh;
        float: right;
    }

    .btn_ontwerpproces_verder:hover, .btn_ontwerpproces_verder:focus, .btn_ontwerpproces_verder:active {
        color: black;
        width: 35%;
        margin-left: 0;
        outline-color: #73B7E5 !important;
    }

    .btn_ontwerpproces_terug {
        color: black;
        width: 35%;
        height: 4vh;
        margin-top: 3vh;
        float: left;
    }

    .btn_ontwerpproces_terug:hover, .btn_ontwerpproces_terug:focus, .btn_ontwerpproces_terug:active {
        color: white;
        width: 35%;
        margin-left: 0;
        outline-color: black !important;
    }

    .btn_ontwerpproces_status {
        color: #73B7E5;
        margin-bottom: 3vh;
        width: 100%;
        height: 3vh;
        margin-left: auto;
        margin-right: auto;
    }

    .btn_ontwerpproces_status:hover, .btn_ontwerpproces_status:focus, .btn_ontwerpproces_status:active {
        color: black;
        margin-bottom: 3vh;
        width: 100%;
        outline-color: #73B7E5 !important;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper_functies_ontwerp {
        padding: 1vh;
    }

    .shirt_preview {
        padding: 1vh;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .col-sm-4 {
        width: 33.29%;
    }
    .KleurKiezer_label {
        width: 160px;
        height: 160px;
    }
    .kleurlabel {
        width: 160px;
        height: 160px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .col-md-3 {
        width: 24.96%;
    }
    .KleurKiezer_label {
        width: 180px;
        height: 180px;
    }
    .kleurlabel {
        width: 180px;
        height: 180px;
    }
}
@media (min-width: 892px){
    .KleurKiezer_label {
        width: 160px;
        height: 160px;
    }

    .kleurlabel {
        width: 160px;
        height: 160px;
    }
}
